<div class="image-slider template1">
    <div class="slider" ng-style="{'width': ctrl.options.width}">
        <ul class="slides">
            <li ng-repeat="image in ctrl.data">
                <i class="material-icons slider-icon zoom-out-icon"
                   ng-if="ctrl.options.enableZoom"
                   ng-click="ctrl.enlargeImage($index)">zoom_out_map</i>
                <img ng-src="{{image.imageUrl}}">
                <div class="caption" ng-class="ctrl.options.textAlign">
                    <h3>{{image.tagLine}}</h3>
                    <h5 class="light grey-text text-lighten-3">{{image.slogan}}</h5>
                </div>
            </li>
        </ul>
    </div>
    <div id="template1-modal" class="modal template1-modal" ng-if="ctrl.options.enableZoom">
        <img ng-repeat="image in ctrl.data"
             class="responsive-img enlarged-image"
             ng-src="{{image.imageUrl}}"
             ng-show="$index===ctrl.enlargedImageIndex">
        <i class="material-icons slider-icon close-icon" ng-click="ctrl.closeModal()">close</i>
    </div>
</div>

