.template1 {
  .icon-arrow_left, .icon-arrow_right {
    position: absolute;
    color: #fff;
    font-size: 35px;
    background-color: grey;
    cursor: pointer;
  }
  .icon-arrow_left {
    top: 43%;
    left: 0px;
  }
  .icon-arrow_right {
    top: 43%;
    right: 0px;
  }

}



